/* Variables */

:root {
  --color-primary: #4255ff;
  --color-secondary: #f6d8fe;
  --main-white: #fff;
  --off-white: #f7f7f7;
  --main-grey: #f6f7fb;
  --main-yellow: #ffcd1f;
  --main-purple: #dbdfff;
  --secondary-blue: #95e0fd;
  --wordSpacing: 0.3rem;
  --letterSpacing: 0.1rem;
  --lightShadow: 2px 5px 6px 6px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  word-spacing: var(--spacing);
  letter-spacing: var(--letterSpacing);
}

li {
  list-style: none;
  margin: 1rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
}
