/* Variables */

:root {
  --color-primary: #4255ff;
  --color-secondary: #035b9a;
  --main-white: #fff;
  --off-white: #f7f7f7;
  --main-grey: #f6f7fb;
  --main-yellow: #ffcd1f;
  --main-purple: #dbdfff;
  --secondary-blue: #95e0fd;
  --wordSpacing: 0.3rem;
  --letterSpacing: 0.1rem;
  --lightShadow: 2px 5px 6px 6px rgba(0, 0, 0, 0.5);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--global-font-size);
  font-family: "Roboto", sans-serif;
  word-spacing: var(--spacing);
  letter-spacing: var(--letterSpacing);
  /* tell browser to use font size set by user */
  font-size: 100%;
}
p {
  word-spacing: var(--wordSpacing);
}

li {
  list-style: none;
  margin: 0.5rem;
}

a {
  text-decoration: none;
}
